@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide navigation arrows */
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

/* Hide pagination dots */
.swiper-pagination {
    display: none !important;
}

.should {
    direction: ltr !important;
}